
<div class="login_form">
<h2>Login</h2>
<form [formGroup]="form" autocomplete="off" (ngSubmit)="Login()">
  <div *ngIf="form.errors" class="alert alert-danger">
    The username and Password is invalid.
  </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input 
      formControlName="username"
      id="username" 
      type="text" 
      class="form-control">
      <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
      <div *ngIf="username.errors.required">Username is Required</div>
      <div *ngIf="username.errors.minlength">Username should be minimum {{username.errors.minlength.requiredLength}} characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input 
      formControlName="password"
      id="password" 
      type="text" 
      class="form-control"
      name="password">
      <div class="alert alert-danger" *ngIf="password.touched && password.invalid">Password is required</div>
    </div>
    <div *ngIf="invalid" class="invalidlogin">{{userInvalidLogin}}</div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Login</button>
</form>
</div>