
.login_form{
  width:30%;
  margin:0 auto;
  padding:10px;
  text-align:center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightgray;
  border-radius: 10px;
}
.invalidlogin{
  color:red;
  background-clip: white;
}

