<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>My Profle</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">

            <div class="col-xs-10">
              <div class="row">
                <div class="col-xs-6">
                  Name
                </div>
                <div class="col-xs-6">
                : {{userLoginDetatils.name}}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  Gender
                </div>
                <div class="col-xs-6">
                : {{userLoginDetatils.gender}}
                </div>
              </div>
              <div class="row">
              <div class="col-xs-6">
              Phone
              </div>
              <div class="col-xs-6">
              : {{userLoginDetatils.phoneNumber}}
              </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  Email
                </div>
                <div class="col-xs-6">
                  : {{userLoginDetatils.email}}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  Username
                </div>
                <div class="col-xs-6">
                  : {{userLoginDetatils.username}}
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  Password
                </div>
                <div class="col-xs-6">
                  : {{userLoginDetatils.password}}
                </div>
              </div>
            </div>   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
